@font-face {
    font-family: 'Avenir Next LT Pro Demi';
    src: local('Arial Black'); /* O la ruta a tu fuente si la subiste */
    font-weight: 900;
}

* { margin: 0; padding: 0; box-sizing: border-box; scroll-behavior: smooth; }

body { background: #ffffff; color: #000; font-family: 'Avenir Next LT Pro Demi', sans-serif; text-transform: uppercase; }

/* HEADER ESTILO REFRESKO */
header { padding: 40px 20px; display: flex; flex-direction: column; align-items: center; border-bottom: 1px solid #eee; position: sticky; top: 0; background: #fff; z-index: 1000; }
.logo-link img { width: 300px; height: auto; margin-bottom: 10px; }
.hero-slogan { font-size: 22px; letter-spacing: 2px; margin-bottom: 25px; font-weight: 900; }

nav { display: flex; gap: 40px; }
nav a { text-decoration: none; color: #000; font-size: 16px; border-bottom: 2px solid transparent; padding-bottom: 5px; transition: 0.3s; }
nav a:hover, nav a.active { border-bottom: 2px solid #000; }

/* BOTONES */
.btn { background: black; color: white; padding: 20px 50px; text-decoration: none; display: inline-block; transition: 0.3s; font-size: 18px; border: none; cursor: pointer; }
.btn:hover { transform: translateY(-3px); box-shadow: 0 10px 20px rgba(0,0,0,0.2); }

footer { background: #000; color: #fff; padding: 60px; text-align: center; font-size: 12px; margin-top: 50px; }
